.comic-card {
	margin: 1rem 0;
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	max-width: 230px;
	.comic-img {
		max-width: 100%;
		box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
		transition: all 0.17s ease-in-out;
		&:hover {
			transform: translate(0, -10px);
			cursor: pointer;
		}
	}

	.comic-info {
		width: 100%;
		.comic-title {
			font-size: 1rem;
			font-weight: lighter;
			text-transform: none;
			margin-top: 1rem;
		}
	}
}

@media only screen and (max-width: 900px) {
	.card {
		max-width: 160px;
	}
}
