:root {
	--primary-dark: #151515;
	--marvel-red: #ec1d24;
	--padding: 0 22rem;
	--grid: repeat(5, 1fr);
	--card-img: 330px;
	--nav-transition: all 200ms ease-in-out;
}

ul {
	list-style: unset;
	margin: 0;
	padding: 0;
	a {
		text-decoration: none;
	}
}

@media (max-width: 1700px) {
	:root {
		--padding: 0rem 10rem;
	}
}

@media (max-width: 1400px) {
	:root {
		--padding: 0rem 11rem;
		--grid: repeat(4, 1fr);
	}
}

@media (max-width: 900px) {
	:root {
		--padding: 0rem 1rem;
		--grid: repeat(2, 1fr);
		--card-img: 230px;
	}
}
