:root {
	--primary-dark: #18406b;
	--padding: 0 16rem;
	--grid: repeat(5, 1fr);
}

ul {
	list-style: unset;
	margin: 0;
	padding: 0;
	a {
		text-decoration: none;
	}
}

@media (max-width: 1700px) {
	:root {
		--padding: 0rem 12rem;
	}
}

@media (max-width: 1400px) {
	:root {
		--padding: 0rem 11rem;
		--grid: repeat(4, 1fr);
	}
}

@media (max-width: 900px) {
	:root {
		--padding: 0rem 2rem;
		--grid: repeat(3, 1fr);
	}
}
