@import '../../styles/mixins.scss';

.card {
	height: 100%;
	margin: 1rem 0;
	@include card();
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	width: 100%;
	.comic-img {
		width: 100%;
		box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
		transition: all 0.17s ease-in-out;

		&:hover {
			transform: translate(0, -10px);
			cursor: pointer;
		}
	}
	.comic-title {
		width: 100%;
		margin-top: 1rem;
		text-transform: none;
	}
	.movie-img {
		max-width: 210px;
		box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
		transition: all 0.17s ease-in-out;
		&:hover {
			transform: translate(0, -10px);
			cursor: pointer;
		}
	}
	p {
		padding-top: 0.5rem;
		font-size: 0.8rem;
		color: rgb(0, 0, 0);
		text-transform: uppercase;
		font-weight: bold;
	}
	.movie-title {
		font-size: 1rem;
		font-weight: lighter;
		text-transform: none;
	}
}
