@import '../Styles/variables.scss';

.page {
	display: flex;
	flex-direction: column;
	padding: var(--padding);
	padding-top: 2rem;
	position: relative;
	z-index: 5000;
	height: calc(100vh - 100px);
	a {
		text-decoration: none;
		color: black;
		&:hover {
			text-decoration: underline;
			color: rgb(222, 74, 74);
		}
	}
	.about-title {
		display: flex;
		justify-content: space-between;
		padding-right: 2rem;
		position: relative;
		height: auto;
		h1 {
			font-size: 2rem;
		}
	}
	.description {
		font-size: 1.2rem;
		margin-top: 1rem;

		h1 {
			font-size: 1.5rem;
			margin-top: 1rem;
		}
		p {
			margin-top: 1rem;
		}
	}
	.title {
		display: flex;
		justify-content: space-between;
		padding-right: 2rem;
		position: relative;
		height: auto;
	}

	h1 {
		display: flex;
		align-items: center;
		gap: 0.75rem;
		cursor: pointer;
		text-transform: uppercase;
		font-size: 1.3rem;
	}
	.down-arrow {
		font-size: 1.2rem;
	}
	.control-bar {
		height: auto;
		display: flex;
		position: relative;
		width: 100%;
	}
	.footer {
		width: 100%;
		position: absolute;
		bottom: 0;
		left: 0;
		height: 50px;
		display: flex;
		align-items: center;
		justify-content: center;
	}
}
.grid-container {
	width: 100%;
	display: grid;
	grid-template-columns: var(--grid);
	padding-top: 2rem;
	justify-items: center;
	gap: 1rem;
}

.grid-container-reverse {
	width: 100%;
	display: grid;
	grid-template-columns: var(--grid);
	padding-top: 2rem;
	gap: 1rem;
}
