.alphabet-container {
	display: flex;
	justify-content: center;
	gap: 1rem;
	.letter {
		font-size: 1.75rem;
		cursor: pointer;
		background: none;
		outline: none;
		border: none;
	}
	.active {
		color: var(--marvel-red);
		text-decoration: underline;
		font-weight: bold;
	}
}
