.mobile-menu {
	width: 100vw;
	height: 100vh;
	background-color: var(--primary-dark);
	position: fixed;
	top: 0;
	left: 0;
	z-index: 9999;
	transition: var(--nav-transition);
	padding: 1rem;
	.controls {
		height: 40px;
		width: 100%;
		display: flex;
		align-items: center;
		font-size: 1.6rem;
	}
	.links {
		display: flex;
		flex-direction: column;
		width: 100vw;
		left: 0;
		position: absolute;
		padding-top: 1rem;
		a,
		p {
			color: white;
			height: 50px;
			padding: 0 1rem;
			font-weight: bold;
			font-size: 1.1rem;
			display: flex;
			justify-content: space-between;
			align-items: center;
			text-decoration: none;
			span {
				color: var(--marvel-red);
				margin-left: auto;
				font-size: 1.3rem;
				font-weight: bold;
			}
		}
	}
}
